*{
  box-sizing: border-box;
  transition: all 0.45s;
}
a{
  text-decoration: none;
}
a:hover{
  opacity: 0.7;
}
a.slider__item{
  &:hover{
    opacity: 1;
  }
}
a, button, input, div, textarea{
  outline: none;
}
.page{
  font-family: 'Intro Book', sans-serif;
  overflow: hidden;
  background-color: #fff;
}
#app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
}
.container{
  width: 1302px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  &_header{
    justify-content: space-between;
    &_mobile{
      display: none;
    }
  }
  &_main{
    min-height: 784px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: url("../assets/main-bg.svg");
    background-color: #F8FAFF;
    background-size: 657px 712px;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 32px;
    padding-top: 36px;
  }
  &_info{
    margin-top: 90px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  &_what-do{
    margin-top: 6px;
    width: 100%;
    background: url("../assets/what-do-bg.svg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  &_footer{
    width: 1160px;
  }
  &_payment{
    display: flex;
    flex-direction: column;
  }
}
.slider__arrow{
  cursor: pointer;
}
.global-title{
  font-family: 'Intro Bold', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #1D253C;
  margin: 0;
}
.partners-slider__item:hover{
  img{
    &:nth-child(2){
      display: block;
    }
    &:nth-child(1){
      display: none;
    }
  }
}
.partners-slider{
  .slider__list{
    display: flex;
    flex-wrap: nowrap;
    //width: max-content;
    column-gap: 88px;
  }
}
.slider__list_payments{
  width: 1310px;
  max-width: 100%;
  .slider__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content!important;
    margin-right: 112px;
    height: 56px;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.footer_mobile-block{
  display: none;
}
.slick-track{
  display: flex!important;
}
.slider__list_video, .slider__item_video{
  width: 374px;
  max-width: 100%;
  overflow: hidden;
}
.slider__list_video{
  overflow: unset;
  .slick-dots{
    bottom: -30px;
    display: flex!important;
    align-items: center;
    justify-content: flex-start;
    li{
      opacity: 0.08;
      button{
        padding: 0;
        width: 24px;
        height: 8px;
        background-color: #2B6BF3;
        border-radius: 4px;
        &:before{
            display: none;
        }
      }
    }
    li.slick-active{
      opacity: 1;
      button{
          &:before{
              display: none;
          }
      }
    }
  }
}
.slider__item_video{
  margin-right: 24px;
}