#app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: space-between;
  #app {
    color: #fff;
  }
  .header{
    background-color: #fff;
    min-height: 100px;
    display: flex;
    width: 100%;
  }
}

.container{
  width: 1302px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
}

@media(max-width: 1380px){
  .page{
    padding: 0 32px;
  }
}
